#banner{
	height: 70vh;
	background-image: url("../image/medvedev.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
}

#title{
	text-align: center;
	background-color: #ffffff85;
	margin: 8px 400px;
	border-radius: 4px;
}

#banner2{
	height: 70vh;
	background-image: url("../image/federer.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
}